# Observations

-  There are 576 active players, the majority are male players (84%) and small amount of female players (14%).

- The majority participants are in age group between 20-24 (44.8%), then the next group of participants are in age groups falling between 15-19 (18.60%) and 25-29 (13.4%).

- "Final Critic" is the most popular and profitable item.

In [129]:
# Dependencies and Setup
import pandas as pd
from IPython.display import display, HTML

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [130]:
#Calculate toltal number of players
tot_players = len(purchase_data.SN.unique())
total_players = pd.DataFrame({'Total Players':[tot_players]})

#Display dataframe in table format
total_players = total_players.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey")]}
    ]
)
total_players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
# Calculating avg. purchase price, total purchases, total revenue
avg_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()
total_num_purchases = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())


# Creating summary data frame to hold the results 
summary_df = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_revenue],
                               "Number of Purchases": [total_num_purchases],
                               "Average Price": [avg_price]})
# Data formating
summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Arranging the column names 
summary_df = summary_df.loc[:, ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

# #Display dataframe in table format
summary_df = summary_df.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey")]}
    ]
)

summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [132]:
# Groupby gender and count unique players
groupedby = purchase_data.groupby(['Gender'])
gender_counts = groupedby['SN'].nunique()
sum_gender_counts = gender_counts.sum()

#Count and Percentage of Male Players
male_count = gender_counts['Male']
male_percent = (male_count/sum_gender_counts) * 100

#Count and Percentage of Female Players
female_count = gender_counts['Female']
female_percent = (female_count/sum_gender_counts) * 100

#Count and Percentage of Other / Non-Disclosed
other_count = gender_counts['Other / Non-Disclosed']
other_percent = (other_count/sum_gender_counts) * 100

# Creating gender data frame to hold the results and formatting
gender_df = pd.DataFrame(gender_counts)
gender_df['Percents'] = [female_percent, male_percent, other_percent]
gender_df["Percents"] = gender_df["Percents"].map("{:.2f}%".format)
output=gender_df.sort_values(["SN", "Percents"], ascending=False).head()

# Remove index in top left
output.index.name = None

# Arranging the column names
output.columns=["Total Count", "Percentage of Players"]

#Display dataframe in table format
output = output.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

output


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
# Groupby gender and count total purchase, average purchase
gender = purchase_data.groupby(['Gender'])

# Total purchases by gender 
purchase_count = gender["Purchase ID"].count()

# Avg. purchase prices by gender
avg_purchase_price = gender["Price"].mean()

# Avg. purchase total by gender 
purchase_total = gender["Price"].sum()

# Avg. purchase total by gender divivded by gender count
avg_purchase_per_person = purchase_total/gender_counts

# Create New dataframe                                                                                                         
gender_pur_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_pur_analysis.index.name = "Gender"

# Format with currency style
gender_pur_analysis["Average Purchase Price"] = gender_pur_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_pur_analysis["Total Purchase Value"] = gender_pur_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_pur_analysis["Avg Total Purchase per Person"] = gender_pur_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)

#Display dataframe in table format
gender_pur_analysis = gender_pur_analysis.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)
gender_pur_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [134]:
# Create Bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# New data frame with the "Age Group" and grouped it
age_grouped = purchase_data.groupby("Age Group")

# Total players by age category 
total_count_age = age_grouped["SN"].nunique()

# Percentages by age category 
percentage_by_age = (total_count_age/tot_players) * 100

# Create new dataframe
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

# Remove index in top left 
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

#Display dataframe in table format
age_demographics = age_demographics.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
# Total purchases by age
purchase_count = age_grouped["Purchase ID"].count()

# Avg. purchase prices by age
avg_purchase_price = age_grouped["Price"].mean()

# Avg. purchase total by age 
purchase_total = age_grouped["Price"].sum()

# Calculating Avg. purchase per person
avg_purchase_per_person = purchase_total/total_count_age

# Create New dataframe to hold results                                                                                                           
age_pur_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})

# Provide index in top left as "Age Ranges"
age_pur_analysis.index.name = "Age Ranges"

# Format with currency style
age_pur_analysis["Average Purchase Price"] = age_pur_analysis["Average Purchase Price"].map("${:.2f}".format)
age_pur_analysis["Total Purchase Value"] = age_pur_analysis["Total Purchase Value"].map("${:.2f}".format)
age_pur_analysis["Avg Total Purchase per Person"] = age_pur_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)

#Display dataframe in table format
age_pur_analysis = age_pur_analysis.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

age_pur_analysis

# Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [136]:
#Calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

#creating Dataframe to hold results
user_data = pd.DataFrame({"Purchase Count": user_count,
                          "Average Purchase Price": user_average,
                          "Total Purchase Value": user_total})

# Formatting to 2 decimal points
user_data = user_data.round(2)

#Formating and displaying top spenders dataframe
top_spend_data = user_data.sort_values("Total Purchase Value", ascending=False).head()
top_spend_data["Average Purchase Price"] = top_spend_data["Average Purchase Price"].map("${:.2f}".format)
top_spend_data["Total Purchase Value"] = top_spend_data["Total Purchase Value"].map("${:.2f}".format)

#Display dataframe in table format
top_spend_data = top_spend_data.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

top_spend_data

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
# Create new data frame with Item Id, Item Name, Price
items=purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_group = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_group["Price"].count()

# Purchase value per item 
purchase_value = (item_group["Price"].sum()) 


# Individual item price
item_price = purchase_value/purchase_count_item

# Creating dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

#Formating
most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
#Display output
popular=most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Formating and displaying top spenders dataframe
popular["Item Price"] = popular["Item Price"].map("${:.2f}".format)
popular["Total Purchase Value"] = popular["Total Purchase Value"].map("${:.2f}".format)

#Display dataframe in table format
popular = popular.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

popular

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [138]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_df = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format 
popular_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Create new data frame with Item Id, Item Name, Price
items=purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_group = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_group["Price"].count()

# Purchase value per item 
purchase_value = (item_group["Price"].sum()) 


# Individual item price
item_price = purchase_value/purchase_count_item

# Creating dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

#Display output
popular=most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Formating and displaying top spenders dataframe
popular["Item Price"] = popular["Item Price"].map("${:.2f}".format)
popular["Total Purchase Value"] = popular["Total Purchase Value"].map("${:.2f}".format)

#Display dataframe in table format
popular = popular.style.set_table_styles(
    [{"selector": "", "props": [("border", "1px solid grey")]},
      {"selector": "tbody td", "props": [("background-color", "white"), ("border", "1px solid grey"),("text-align","left")]},
     {"selector": "th", "props": [("background-color", "WhiteSmoke"), ("border", "1px solid grey"),("text-align","left")]}
    ]
)

popular